*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
}
.internet-image{
    width: 300px;
    border-radius: 3%;
    align-content: center;
    margin-top: 10px;

}
.p1{
    color: rgb(37, 126, 126);
    margin-left: 50px;
    padding-top: 50px;
}
.h1{
    padding-top: 50px;
    margin-left: 50px;
    color: green;
    
}
.p2{
    margin-left: 50px;
}
.table{

    margin-left: 100px;
}
.navbar{
    
    background: crimson;
    font-family: Calibri;
    padding-right: 15px;
    padding-left: 15px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.lag-p a{
    font-size: 35px;
    font-weight: 600;
    color: white;
    }
.nav ul li{
    list-style: none;
    display: inline-block;
}
.nav ul li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
button{
    background-color: black;
    margin-left: 10;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.list1{
  text-align:center;
}
img {
    border-radius: 50%;
   width: 250px;
   height: 250px;
   
   
}
.cover{
    padding-top: 0gitpx;
    padding-left: 100px;
    padding-right: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0rem;
    align-items: center;
}

footer {
    background: #b62d2d;
      background-color: #b62d2d;
      color: #bd2121;
      padding: 20px 0;
      text-align: center;
    }

    .footer-container {
        background: #b62d2d;
     /* max-width: 1000px;
      margin: auto;*/
    }

    .social-links {
      margin: 15px 0;
      text-align: center;
    }

    .social-links a {
        text-align: center;
      display: inline-block;
      margin: 0 10px;
      color: bisque;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s ease;
    }

    .social-links a:hover {
      color: #1da1f2;
    }

    .footer-bottom {
        text-align: center;
      font-size: 14px;
      color: #aaa;
    }